@model AppoimentDTO
@{
    ViewData["Title"] = "Nueva cita";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


<div class="pagetitle">
    <h1>Citas</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Roles</a></li>
            <li class="breadcrumb-item active">Nueva cita</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registrar cita</h5>

                    <!-- General Form Elements -->
                    <form asp-action="Edit" method="post">

                        <input type="hidden" asp-for="Id" />
                        <!--DATE-->
                        <div class="row mb-3">
                            <label for="inputDate" class="col-sm-2 col-form-label">Fecha de la cita</label>
                            <div class="col-sm-10">
                                <input asp-for="Date" type="date" class="form-control">
                            </div>
                        </div>
                        <!--TIME-->
                        <div class="row mb-3">
                            <label for="inputTime" class="col-sm-2 col-form-label">Hora de la cita</label>
                            <div class="col-sm-10">
                                <input asp-for="Time" type="time" class="form-control">
                            </div>
                        </div>

                        <!--Select-->
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Seleccionar paciente</label>
                            <div class="col-sm-10">
                                <select asp-for="UserPatientId" asp-items="Model.UserPatient" class="form-control">
                                    <option selected>Click para seleccionar un paciente</option>
                                </select>
                            </div>
                        </div>

                        <!--Select-->
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Seleccionar un doctor</label>
                            <div class="col-sm-10">
                                <select asp-for="UserDoctorId" asp-items="Model.UserDoctor" class="form-control">
                                    <option selected>Click para seleccionar un doctor</option>
                                </select>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Registrar cita</button>
                            </div>
                        </div>

                    </form><!-- End General Form Elements -->

                </div>
            </div>

        </div>


    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

