<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="index.html">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item"> <!-- Navegador de tablas -->
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Información </span><i class="bi bi-chevron-down ms-auto"></i>
            </a>

            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" asp-controller="Roles" asp-action="Index"> <!-- Boton para llevar a la tabla Roles -->
                            <i class="bi bi-grid"></i>
                            <span>Roles</span>
                        </a>
                    </li>

                
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Users" asp-action="Index">
                        <!-- Boton para llevar a la tabla Usuarios -->
                        <i class="bi bi-grid"></i>
                        <span>Usuarios</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="MedicalSpe" asp-action="Index">
                        <!-- Botón para llevar a la tabla Especialidad Médico -->
                        <i class="bi bi-grid"></i>
                        <span>Especialidad Médica</span>
                    </a>
                </li>

                <!-- Botón para llevar a la tabla Citas :) -->
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Appoiments" asp-action="Index">
                        <i class="bi bi-grid"></i>
                        <span>Citas</span>
                    </a>
                </li>
                <!-- Botón para llevar a la tabla Estado de las citas :) -->
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Status" asp-action="Index">
                        <i class="bi bi-grid"></i>
                        <span>Estado de las citas</span>
                    </a>
                </li>

                <!-- Botón para llevar a la tabla Medications -->
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Medications" asp-action="Index">
                        <i class="bi bi-grid"></i>
                        <span>Medicamentos</span>
                    </a>
                </li>
                <!-- Botón para llevar a la tabla Orden Medica -->
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="MedicalOrders" asp-action="Index">
                        <i class="bi bi-grid"></i>
                        <span>Ordenes Médicas</span>
                    </a>
                <li>
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Permissions" asp-action="Index">
                        <!-- Botón para llevar a la tabla Permisos -->
                        <i class="bi bi-grid"></i>
                        <span>Permisos</span>
                    </a>
                </li>

                <li>
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="MedicalHistory" asp-action="Index">
                        <!-- Botón para llevar a la tabla historial médico -->
                        <i class="bi bi-grid"></i>
                        <span>Historia Clínica</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="RolPermissions" asp-action="Index">
                        <!-- Botón para llevar a la tabla RolPermisos -->
                        <i class="bi bi-grid"></i>
                        <span>Permisos de los roles</span>
                    </a>
                </li>

                </li>
    </ul>

</aside><!-- End Sidebar-->
