@model Medication
@{
    ViewData["Title"] = "Editar Medicamento";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="pagetitle">
    <h1>Medicamentos</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-action="Index">Roles</a></li>
            <li class="breadcrumb-item active">Editar Medicamnetos</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">

    <form class="row g-3" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="col-12">
            <label for="inputNanme4" class="form-label">Nombre Comercial</label>
            <input asp-for="CommercialName" class="form-control" id="inputNanme4">
            <span asp-validation-for="CommercialName" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label for="inputNanme4" class="form-label">Nombre Científico</label>
            <input asp-for="ScientificName" class="form-control" id="inputNanme4">
        </div>
        <div class="col-12">
            <label for="inputNanme4" class="form-label">Tipo</label>
            <input asp-for="Group" class="form-control" id="inputNanme4" />
        </div>

        <div class="col-12">
            <label for="inputNanme4" class="form-label">Laboratoro de Fabrica</label>
            <input asp-for="Laboratory" class="form-control" id="inputNanme4">
        </div>

        <div class="col-12">
            <label for="inputNanme4" class="form-label">Descripcion del Medicamento</label>
            <input asp-for="Description" class="form-control" id="inputNanme4">
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Index" class="btn btn-secondary">Volver</a>
        </div>
    </form><!-- Vertical Form -->

</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
